body {

  background-color: black;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  height: 100px !important; 
  transform: scaleY(0.85);
 
}
* {word-spacing:1px;
  letter-spacing: 0px;
  color: #7bb834;
  font-family: 'Courier New', Courier, monospace;
  
}
p {line-height: 1.6;}
div h1 {letter-spacing: 1px;
  margin-bottom: 0px;
}
p.margin_top {
  margin-top: 2px;
  word-spacing: -2px;
  font-size: medium;
  letter-spacing: 0.8px;
}
.as {
  text-shadow: #7bb834 1px;
  text-align: left;
  width: 335px;
  border: white solid 1px;
  float: right;
  border-radius: 7px;
  
  background-image: url(../IMG/imagine.jpg);
  background-size: cover;
 
 }
.as p {margin-left: 4px;
  margin-bottom: 20px;
  margin-top: 20px;
  word-spacing: normal;
  margin-right: 4px;
  letter-spacing: 0px;
  line-height: 1.6;
  text-shadow: 1px 1px #3a6705;
 }
 .as p ~p{font-size:small;}

li {
  margin: 5px;
  margin-bottom: 10px;
  margin-left: -15px;
  
}
li a {
  text-decoration: none;
}
div ul {margin-bottom: 50px;
margin-top: 40px;}

a ~ a {margin-left: 10px;}
a.color {
  margin-bottom: 15px;
  display: inline;
 
  
}

a ~ p {
  margin-top: 40px;
  word-spacing: none;
  letter-spacing: none;
  font-size: x-small;
}

p.color {
  padding-left: 10px;
  padding-right: 10px;
}
.color {
  color: white;
}
.capitalize {
  text-transform: capitalize;
}
.color_style {
  border: 1px solid white;
  color: white;
  padding: 10px;
  border-radius: 7px;
  text-align: center;
}
.media div {display: inline-block;}
